*{
    margin: 0px;
    padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
body{
    
    font-family: 'Josefin Sans', sans-serif;
    height: 100vh;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
    "t"
    "."
    "l"
    "p"
    ".";

}

input{
    height: 50px;
    aspect-ratio: 1/1;
    border: 0px;
}

.left-arrow {background: url("images/arrow-left.svg") no-repeat;}
.right-arrow {background: url("images/arrow-right.svg") no-repeat;}
.play {background: url("images/play.svg") no-repeat;}
.pause {background: url("images/pause.svg") no-repeat;}



h1{
    grid-area: t;
    font-size: 3rem;
    text-transform: uppercase;
    padding: 10px 30px;
    background-color: palegreen;
}

.liseuse-container{
    grid-area: l;
    border: 5px solid black;
    box-shadow: 0px 0px 10px rgb(54, 54, 54);
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 500px;
    
}

.play-pause{
    grid-area: p;
    display: flex;
    justify-content: space-evenly;
    justify-self: stretch;
    
}


img{
    width: 400px;
}

.button{
    height: 50px;
    transition: 200ms ease-in-out;
}

@keyframes scale {

50% {
    transform: scale(0.8);
}

}

.button:focus{
    animation: scale 500ms ease-in-out;
}


.display{
    display: none;
}

.sommaire {
    
    color: black;
    padding: 3px 5px;
    border: 2px black solid;
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    left: 50%;
    border-radius: 20px;
    transform: translateX(-50%)
}