*{
    margin: 0px;
    padding: 0px;
}

:root{
    --main-clr: #2D7DD2;
    --second-clr: #F6D570;
    --thrid-clr: #F36D68;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
body{
    
    font-family: 'Josefin Sans', sans-serif;
    height: 100vh;
    background-color: var(--second-clr);
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
    "t"
    "t"
    "l"
    "p"
    "p";

}

input{
    height: 50px;
    aspect-ratio: 1/1;
    border: 0px;
}

.left-arrow {background: url("images/arrow-left.svg") no-repeat;}
.right-arrow {background: url("images/arrow-right.svg") no-repeat;}
.play {background: url("images/play.svg") no-repeat;}
.pause {background: url("images/pause.svg") no-repeat;}



h1{
    grid-area: t;
    font-size: 3rem;
    text-transform: uppercase;
    padding: 10px 30px;
    background-color: var(--main-clr);
    color: white;
    box-shadow: 0px 0px 10px rgb(54, 54, 54);
}

.liseuse-container{
    grid-area: l;
    border: 5px solid black;
    box-shadow: 0px 0px 10px rgb(54, 54, 54);
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 500px;
    background-color: var(--main-clr);
    
}

.play-pause{
    grid-area: p;
    display: flex;
    background-color: var(--thrid-clr);
    height: 50%;
    width: 300px;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 10px rgb(54, 54, 54);
    margin-bottom: 40px;
}




.button{
    display: grid;
    place-items: center;
    height: 50px;
    transition: 200ms ease-in-out;

   
}

@keyframes scale {

50% {
    transform: scale(0.8);
}

}

.button:focus{
    animation: scale 500ms ease-in-out;
}

.button:hover{
    cursor: pointer;
}


.display{
    display: none;
}

.sommaire {
    
    color: black;
    padding: 3px 5px;
    border: 2px black solid;
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    left: 50%;
    border-radius: 20px;
    transform: translateX(-50%)
}

img{
    max-width: 400px;
    transform: scale(0.8) translateX(-100%);
    animation: photo-scale 500ms cubic-bezier(.08,1.09,.69,1.11) forwards;
    opacity: 0;
    filter: blur(0.4rem);
    display: block;
    box-shadow: 0px 0px 4px grey;
    
}

.photos-container {
    height: 350px;
    width: 550px;
    display: grid;
    place-items: center;
    overflow: hidden;
    background-color: rgb(204, 204, 204);
    
}

/* ANIMATIONS PHOTOS */


@keyframes photo-scale{
    
    50%,100%{
        opacity: 1;
    }
    100% 
    
    {
        filter: blur(0px);
        transform: scale(1) translateX(0%);
    }
}