@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oxygen:wght@300;400;700&display=swap');


*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

ul{
    list-style-type: none;
    padding: 0px;
}



body{
    font-family: 'Oxygen', sans-serif;
    display: flex;
    justify-content: center;
    background-color: rgb(78, 78, 78);
}

.full-container{
    max-width: 1000px;
    flex: 1 1 100%;
    background-color: #523F38;
    padding-block: 0px 20px;
    height: 100vh;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "main-title saved-title"
    "main saved"
    "random random";
}

.main-title, .saved-title{
    font-size: 1.5rem;
    text-align: center;
    color: #F4F4F9;
    padding: 20px;
    position: relative;
}

.main-title::before{
    content: '';
    position: absolute;
    right: -2px;
    width: 4px;
    background-color: rgb(255, 255, 255);
    top: 0px;
    bottom: 0px;

}

.main-container{
    grid-area: main;
    padding: 0px 5px 0px 10px;
    background-color: #A4BAB7;
}

.saved-beers{
    grid-area: saved;
    overflow-y: scroll;
    padding: 0px 10px 0px 10px;
    background-color: #A4BAB7;
    
}

.random{
    grid-area: random;
    margin-top: 20px;
    width: 50%;
    justify-self: center;
    display: none;
}

.beer-container, .fav-beer-container{
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0px 0px 5px black;
    transition: border-radius 200ms ease-in-out, background-color 400ms linear;
    position: relative;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.del-btn{
    width: 30px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3px;
    background-color: #FF851B;
    transition: transform 100ms ease-in-out, 
                border-radius 300ms ease-in-out;
    border: 0px;
}
.del-btn:active{
    transform: scale(0.8) translateY(-50%);
    background-color: red;
}

.del-btn:focus{
    background-color: red;
}

.del-btn::before{
    content: '\f007';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f2ed";
    font-size: 1.3rem;
}

.beer-container:hover, .fav-beer-container:hover{
    cursor: pointer;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.767);
}

.fav-beer-container:hover .del-btn{
    border-radius: 10px;
}

/* .alert{
    animation: blur 1.2s ease-in-out;
} */

.alert::before{
    content:'';
    position: absolute;
    inset: 0px;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    animation: opacity 1.2s ease-in-out;
}

.alert::after{
    display: flex;
    align-items: center;
    justify-content: center;
    content:'Element déjà ajouté';
    position: absolute;
    background-color: #FF851B;
    height: 50px;
    bottom: -50px;
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0px);
    animation: warn 1000ms 0.2s forwards;
}

@keyframes blur {
    40%, 80%{
        filter: blur(5px);
    }
}

@keyframes opacity {
    40%, 80%{
        opacity: 0.7;
    }
}

@keyframes warn {
    30%, 70%{
    transform: translate(-50%, 50%);
    bottom: 50%;
    }
}

@keyframes del {
    100%{
      height: 0px;
      padding: 0px;
      margin-top: 0px;
    }
}

.del{
    animation: del 200ms forwards linear;
    overflow: hidden;
    transform-origin: top;
}

.beer-container:hover li, .fav-beer-container:hover li{
    color: #ffffff;
}

.beer-container li, .fav-beer-container li{
    transition: all 300ms ease-in-out;
    
}

.beer-container{
    background-color: #FF851B ;
    overflow: hidden;
    
}

.fav-beer-container{
    background-color: #EEF5DB;
}

.display{
    display: none;
}