@import url('https://fonts.googleapis.com/css2?family=Glory:wght@300;500;700&display=swap');

*{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Glory', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 219, 219);
}

h1{
    padding: 10px;
    outline: 2px black solid;
    position: absolute;
    top: 200px;
    z-index: 1;
    overflow: hidden;
}

@keyframes title_anim{

    50% {
        transform: translateX(320px);
    }
}

h1::before{ 
    content: "";
    position: absolute;
    top: 0px;
    left: -20px;
    bottom: 0px;
    width: 20px;
    background-color: orange;
    z-index: -88;
    transform-origin: left;
    animation: title_anim 4s ease-in-out infinite; 

}

ul{
    display: flex;
    justify-content: flex-start;
    width: 60%;
    max-width: 60%;
}

li{
    transition: 200ms ease-in-out;
    background-color: rgb(189, 189, 189);
    padding: 10px;
    margin-left: 10px;
    font-weight: 700;
    font-size: 2rem;
    cursor: pointer;
}

li:hover{
    color: white;
    background-color: grey;
}


ul :nth-child(1){
    margin-left: 50px;
}


p{
    padding: 20px;
    background-color: white;
    margin-top: 10px;
    max-width: 80%;
}

.display{
    display: none;
}

.sommaire {
    
    color: black;
    padding: 3px 5px;
    border: 2px black solid;
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    left: 50%;
    border-radius: 20px;
    transform: translateX(-50%)
}

